/* Ranked Stats */
.statsPage .rankedStats {
    height: 222px;
    width: 45%;
    top: 5px;
    float: none;
    background-image: url('../img/assets/rankedStats.png');
}

.rankedStats #rankedStatsList #mostPlayedChampion img {
    border-radius: 50%;
    border: 3px solid #B2B4BB;
    width: 89px;
}

.rankedStats #rankedStatsList #topChampion img {
    border-radius: 50%;
    border: 3px solid #B2B4BB;
    width: 89px;
}

.rankedStats #rankedStatsLabel {
    top: 2px;
}

.rankedStats #rankedStatType {
    color: white;
    font-size: 130%;
    left: 5px;
    line-height: 0;
    top: -13px;
}

.rankedStats #rankedStatElement {
    width: 300px;
    text-align: left;
}

.rankedStats #rankedStatsList {
    top: 2px;
    width: 312px;
    height: 180px;
}

.rankedStats #mostPlayedChampions {
    width: 270px;
    left: -3px;
    top: -24px;
    display: inline-flex;
}

.rankedStats #mostPlayedChampion {
    width: 100px;
    margin: 5px;
}

.rankedStats #mostPlayedChampion p {
    text-align: center;
    line-height: 0;
    top: -11px;
}

.rankedStats #championName {
    font-size: 105%;
}

.rankedStats #championWinLoss {
    color: white;
    font-size: 82%;
}

.rankedStats #championWinLossPercentage {
    color: #22A8CE;
    font-size: 82%;
}

.rankedStats #championKDA {
    color: #B2B4BB;
    font-size: 80%;
}

.rankedStats #topChampions {
    width: 270px;
    left: -3px;
    top: -24px;
    display: inline-flex;
}

.rankedStats #topChampion {
    width: 100px;
    margin: 5px;
}

.rankedStats #topChampion p {
    text-align: center;
    line-height: 0;
    top: -11px;
}

.rankedStats #championLevel {
    color: #22A8CE;
    font-size: 82%;
}

.rankedStats #championPoints {
    color: white;
    font-size: 80%;
}
